.page__header {
  display: none;
}

@media all and (min-width: 1024px) {
  .page__header {
    display: flex;
    justify-content: flex-end;
    font-size: 25px;
    color: #ffffff;
    padding: 30px 40px 2px 0;
  }

  .fa-twitter {
    margin-left: 10px;
  }
}
@media all and (min-width: 1400px) {
  .page__header {
    display: flex;
    justify-content: flex-end;
    font-size: 32px;
    color: #ffffff;
    padding: 40px 40px 2px 0;
  }

  .fa-twitter {
    margin-left: 10px;
  }
}
.page__main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  position: absolute;
  width: 116px;
  height: 37px;
  margin-bottom: 19px;
  top: 35px;
}

.main__image {
  background-image: url("../assets/images/phones-mobile_2017-01-25/phones-mobile@3x.png");
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  width: 300px;
  height: 185px;
}

.line {
  width: 300px;
  height: 1px;
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0), #ffffff 49%, rgba(255, 255, 255, 0));
  margin-bottom: 22px;
}

.main__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.text__title:before {
  content: attr(data-phonetext);
}

.text__title {
  font-weight: 300;
  margin-bottom: 9px;
  width: 280px;
  font-family: "SegoeUI";
  font-size: 24px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.17;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}

.text__paragraph:before {
  content: attr(data-phonetext);
}

.text__paragraph {
  font-weight: 400;
  margin-bottom: 26px;
  width: 280px;
  opacity: 0.7;
  font-family: "SegoeUI";
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: center;
  color: rgba(255, 255, 255, 0.87);
}

.text__input__button {
  display: flex;
  justify-content: center;
}

.text__input {
  width: 188px;
  height: 45px;
  border-radius: 8px 0 0 8px;
  background-color: #ffffff;
  border: 0;
  padding: 10px 11px 11px 11px;
  color: #9fa3a7;
  font-weight: 400;
}

.text__button {
  width: 92px;
  height: 45px;
  border-radius: 0 8px 8px 0;
  background-color: #f05638;
  border: 0;
  font-family: "SegoeUI";
  font-size: 12px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 2.8px;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
}

@media all and (min-width: 1024px) {
  .page__main {
    flex-direction: row;
    justify-content: center;
  }

  .main__image {
    margin-top: 38px;
    background-image: url("../assets/images/iphones-final_2017-01-25/iphones-final.png");
    background-size: cover;
    width: 269px;
    height: 531px;
  }

  .line {
    display: none;
  }

  .main__text {
    margin-bottom: 58px;
    margin-left: 5%;
    align-items: flex-start;
  }

  .logo {
    position: static;
    align-self: flex-start;
    width: 149px;
    height: 50px;
  }

  .text__title:before {
    content: attr(data-desktoptext);
  }

  .text__title {
    text-align: left;
    width: 584px;
    font-size: 28px;
    line-height: 1.14em;
  }

  .text__paragraph:before {
    content: attr(data-desktoptext);
  }

  .text__paragraph {
    text-align: left;
    width: 585px;
    font-size: 20px;
    line-height: 1.42em;
  }

  .text__input {
    width: 240px;
    height: 39px;
  }

  .text__button {
    font-size: 14px;
    width: 100px;
    height: 39px;
  }
}
@media all and (min-width: 1400px) {
  .page__main {
    flex-direction: row;
    justify-content: center;
  }

  .main__image {
    width: 374px;
    height: 732px;
  }

  .main__text {
    margin-bottom: 126px;
    margin-left: 5%;
    align-items: flex-start;
  }

  .logo {
    width: 183px;
    height: 58px;
  }

  .text__title {
    font-size: 42px;
  }

  .text__paragraph {
    font-size: 24px;
  }

  .text__input {
    width: 298px;
    height: 55px;
  }

  .text__button {
    width: 122px;
    height: 55px;
  }
}
@font-face {
  font-family: "SegoeUI";
  font-style: normal;
  font-weight: 400;
  src: url(../assets/fonts/Segoe/Regular.woff);
}
@font-face {
  font-family: "SegoeUI";
  font-style: normal;
  font-weight: 300;
  src: url(../assets/fonts/Segoe/Light.woff);
}
@font-face {
  font-family: "SegoeUI";
  font-style: normal;
  font-weight: 700;
  src: url(../assets/fonts/Segoe/Bold.woff);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.body {
  font-family: "SegoeUI", sans-serif;
  background-image: url("../assets/images/group-2_2018-11-16/group-2@2x.png");
}

.page {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  padding: 90px 10px 58px 10px;
}

@media all and (min-width: 1024px) {
  .body {
    height: 100vh;
    background-image: none;
  }

  .page {
    background-image: url("../assets/images/group-2_2018-11-16/group-2.png");
    padding: 0;
    height: 600px;
  }
}
@media all and (min-width: 1400px) {
  .page {
    height: 810px;
  }
}

/*# sourceMappingURL=main.css.map */
