.page__header {
  display: none;
}  

@media all and (min-width: 1024px) {
  .page__header {
    display: flex;
    justify-content: flex-end;
    font-size: 32px;
    color: #ffffff;
    padding: 40px 40px 2px 0;
  }

  .fa-twitter {
    margin-left: 10px;
  }
}