@import "_header.scss";
@import "_main.scss";

@font-face {
  font-family: 'SegoeUI';
  font-style: normal;
  font-weight: 400;
  src: url(../assets/fonts/Segoe/Regular.woff);
}

@font-face {
  font-family: 'SegoeUI';
  font-style: normal;
  font-weight: 300;
  src: url(../assets/fonts/Segoe/Light.woff);
}

@font-face {
  font-family: 'SegoeUI';
  font-style: normal;
  font-weight: 700;
  src: url(../assets/fonts/Segoe/Bold.woff);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.body {
  font-family: 'SegoeUI', sans-serif;
  background-image: url("../assets/images/group-2_2018-11-16/group-2@2x.png");
}

.page {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  padding: 90px 10px 58px 10px;
}

@media all and (min-width: 1024px) {
  .body {
    height: 100vh;
    background-image: none;
  }

  .page {
    background-image: url("../assets/images/group-2_2018-11-16/group-2.png");
    padding: 0;
    height: 600px;
  }
}

@media all and (min-width: 1400px) {
  .page {
    height: 810px;
  }
}