@import "_header.scss";
@import "_main.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.body {
  width: 100vw;
  height: 100vh;
}

.page {
  height: 100%;
  background-image: url('../assets/images/group-2_2018-11-16/group-2@2x.png');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  padding: 90px 10px 58px 10px;
}

@media all and (min-width: 1024px) {
  .page {
    background-image: url('../assets/images/group-2_2018-11-16/group-2.png');
    padding: 0;
    height: 759px;
  }
}